<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detail Section</title>
    <link rel="stylesheet" href="/style.css"> 
</head>
<body style="background-color: black; color: white; margin-top: 20px; margin-left: 50px; border-radius: 5px;">

    <h1><i><u>WellCome To Detail Section</u></i></h1>
    <br><br>

    <div class="post" style="height: 320px; margin-top: 10px;">
       <div class="img" style="background-color: forestgreen;"></div>
       <h2 class="caption"><i><%= post.caption %></i></h2>
       <h3 class="content"><%= post.content %></h3>
    </div>

    <br><br><br><br><br><br><a style="color:white; font-size: 1.5rem; margin-left: 10px;" href="http://localhost:1221/insta">Home</a>
<br>
</body>
</html>